<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</home></title>
</head>
<body>
    <header>
        <nav>
            <img src="/images/logo-mercado-liebre.svg" alt="Mercado-liebre" >
        </nav>

        <p>Lugar para poner barra de busqueda</p>

        <p>Compra en cuotas y sin tarjeta de crédito</p>

            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
    </header>
    <main>
        <section>
               <h1>Basado en tu última visita</h1>
            
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
            
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><strong> Cafetera Moulinex</strong></p>
            
            <img src="/images/img-macbook-pro-2019.jpg">

            <p>$230.000</p>
            <p>20% off</p>
            <p><strong>MacBook</strong></p>

            <img src="/images/img-samsung-galaxy-s10.jpg">

            <p>$70.500</p>
            <p>10% off</p>
            <p><strong>Samsung Galaxy S10</strong></p>

            <img src="/images/img-tv-samsung-smart.jpg">

            <p>$23.200</p>
            <p>5% off</p>
            <p><strong>SmartTv Samsung 43"</strong></p>

            <h2>Sección ofertas</h2>

            <img src="/images/img-cafetera-moulinex.jpg">

            <p>$6770</p>
            <p>40% off</p>
            <p><strong>Cafetera Moulinex</strong></p>

            <img src="/images/img-macbook-pro-2019.jpg">

            <P>$230.000</P>
            <p>20% off</p>
            <P><strong>MacBook Pro 2019</strong></P>

            <img src="/images/img-samsung-galaxy-s10.jpg">

            <p>$70.500</p>
            <p>10% off</p>
            <p><strong>Samsung Galaxy S10</strong></p>

            <img src="/images/img-tv-samsung-smart.jpg">

            <p>$23.200</p>
            <p>5% off</p>
            <p><strong>SmartTv Samsung 43"</strong></p>




        </section>

    </main>
    <footer>
            <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
             
             <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
             
              <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>  
               
              <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>  
             
    </footer>
    
</body>
</html>