<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>

    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e3720ac348.js" crossorigin="anonymous"></script>



</head>

<body>

    <header class="home_header">
        <nav class="home_logo">
            <img src="/images/logo-mercado-liebre.svg" alt="Mercado-liebre">
        </nav>

        <div class="home_logo">
            <div class="search"></div>
            <div class="searchInput">
                <input type="text" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>



            </div>
            <p class="comprar_cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</p>
            <div class="home_logo">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="#">Creá tu cuenta </a><i class="fa-regular fa-address-card"></i></li>
                <li><a href="#">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras </a><i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
            </ul>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <img class="home_banner" src="/images/img-home-banner.jpg" alt="Banner">
    </header>
    <main class="home_main">
        <h2 class="home_main_titulares">Basado en tu última visita</h2>
        <section class="main_section">


            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>

                </div>

                <p class="home_main_producto_precio">$6.770</p>
                <p class="home_main_producto_descuento">40% OFF</p>
                <p class="home_main_producto_descripcion"><strong> Cafetera Moulinex</strong></p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p class="home_main_producto_precio">$230.000</p>
                <p class="home_main_producto_descuento">20% off</p>
                <p class="home_main_producto_descripcion"><strong>MacBook</strong></p>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">

                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p class="home_main_producto_precio">$70.500</p>
                <p class="home_main_producto_descuento">10% off</p>
                <p class="home_main_producto_descripcion"><strong>Samsung Galaxy S10</strong></p>
            </article>

            <article>

                <img src="/images/img-tv-samsung-smart.jpg">

                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p class="home_main_producto_precio">$23.200</p>
                <p class="home_main_producto_descuento">5% off</p>
                <p class="home_main_producto_descripcion"><strong>SmartTv Samsung 43"</strong></p>


            </article>
        </section>

        <section class="main_section">

            <h2 class="home_main_titulares">Sección ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg">

                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p class="home_main_producto_precio">$6770</p>
                <p class="home_main_producto_descuento">40% off</p>
                <p class="home_main_producto_descripcion"><strong>Cafetera Moulinex</strong></p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg">

                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p class="home_main_producto_precio">$230.000</p>
                <p class="home_main_producto_descuento">20% off</p>
                <P class="home_main_producto_descripcion"><strong>MacBook Pro 2019</strong></P>
            </article>

            <article>

                <img src="/images/img-samsung-galaxy-s10.jpg">

                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p class="home_main_producto_precio">$70.500</p>
                <p class="home_main_producto_descuento">10% off</p>
                <p class="home_main_producto_descripcion"><strong>Samsung Galaxy S10</strong></p>
            </article>

            <article>

                <img src="/images/img-tv-samsung-smart.jpg">

                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p class="home_main_producto_precio">$23.200</p>
                <p class="home_main_producto_descuento">5% off</p>
                <p class="home_main_producto_descripcion"><strong>SmartTv Samsung 43"</strong></p>
            </article>




        </section>

    </main>




    <footer class="home_footer">
        <section>
            <article>
                <i class="fa-regular fa-credit-card fa-2xl" style="color: #2051a7;"></i>

                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                    efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article>
                <i class="fa-solid fa-gift fa-2xl" style="color: #2051a7;"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                    miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article>
                <i class="fa-solid fa-user-shield fa-2xl" style="color: #2051a7;"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
                    puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>

            <article>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>

    </footer>

</body>

</html>