<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá</title>
    
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e3720ac348.js" crossorigin="anonymous"></script>

</head>

<body>
    <header class="home_header">
        <nav class="home_logo">
            <img src="/images/logo-mercado-liebre.svg" alt="Mercado-liebre">
        </nav>
    
        <div class="home_logo">
            <div class="search"></div>
            <div class="searchInput">
                <input type="text" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
    
    
    
            </div>
            <p class="comprar_cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</p>
            <div class="home_logo">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
    
            <ul>
                <li><a href="#">Creá tu cuenta </a><i class="fa-regular fa-address-card"></i></li>
                <li><a href="#">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras </a><i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
            </ul>
    
            
    
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <img class="home_banner" src="/images/img-home-banner.jpg" alt="Banner">
    </header>
    <main>
        <form action="">
          <div>
            <label for="usuario">Nombre de usuario</label>
            <input type="text" name="usuario" id="usuario">
            <label for="password">Ingrese su contraseña</label>
            <input type="text" name="contraseña" id="contraseña">
            <label for="password">Confirme su contraseña</label>
            <input type="text" name="contraseña" id="contraseña">
            <label for="email">Ingrese su e-mail</label> 
            <input type="mail" name="mail" id="e-mail">
           <label>Seleccione un perfil</label> 
           <select name="perfil">
                <option value="vendedor">Vendedor</option>
                <option value="comprador">Comprador</option>
            </select>
            <label>Intereses</label>
            <select name="intereses">
                <option value="electro">Electro</option>
                <option value="moda">Moda</option>
                <option value="hogar">Hogar</option>
                <option value="jugueteria">Jugueteria</option>
                <option value="vidasana">Vida Sana</option>
                
            </select>



          </div>

        </form>
    </main>
    
</body>
</html>