.home_header {
    background-color: var(--Amarillo);
    


}

.home_logo {
    width: 50%;
   
    
    
}



.home_lupa{
    display: inline;
}



.burger-menu {

    background: var(--Azul);
    color: antiquewhite;
    text-align: center;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    margin: 25px auto 0;



}

/* main*/
.home_main {
    width: 90%;
    margin: auto;
    

}



.home_main_titulares {

    font-size: 24px;
    text-align: center;
    color: var(--Grisoscuro);

}

.main_section {
    margin-inline: 10px;
}



main section article i {
    display: block;
    font-size: 16px; 
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;

}



.home_main_producto_precio {
    font-size: 18px;

}

.home_main_producto_descuento {
    font-size: 16px;
    color: var(--Verde);
}

.home_main_producto_descripcion {
    font-size: 16px;
    color: var(--Grisoscuro);
    

}

.home_cuerposdetexto {

    font-size: 12px;
    text-align: center;
    color: var(--Grisoscuro);


}

.home_footer_titulares {

    font-size: 24px;
    text-align: center;
    color: var(--Grisoscuro);


}



footer section {

    font-size: 20px;
    text-align: center;
    color: var(--Grisoscuro);
    padding: 5px;
}

.comprar_cuotas {
    text-align: center;
}



footer i {
    padding: 25px;
    bottom: 10px;
}

.camioncito {
    
    position:relative;



}

.camioncito i {
    display:block;
    font-size:16px; 
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--Verde);
    background-color: white;
    border-radius: 50%;
position: absolute;
right: 20 px;
top: -15px;
color: var(--Verde);

}

.main_section article img {
    width: 100vw;

}

.home_banner {
    width: 100vw;
}



@media(max-width:425px) {
    .home_header nav  {
        text-align: center;
        display: inline;
        

    }

    .home_header ul li {
        display: none;



    }
    .home_main_producto_descripcion {
            
        display: none;
    
    }
}

    @media(min-width:426px) {

        .main_section {
            display: flex ;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content:space-around;
            width: 100vw;
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
            }
        .main_section article {
            width: 45%;
        }  
        
        .main_section article img {
            width: 100%;
        }

        .burger-menu {

            display: none;
        }
        
    }

    @media(min-width:769px){
        .home_footer_titulares{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            align-items: flex-start;
        }

         .main_section{
           width: 90%;
           margin: 0 auto;
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
           align-items: start;

        }

        .home_main_producto_descuento{
            color: var(--Verde);
            font-weight: 900;
        }

        .home_main_producto_descripcio h4{
            height: 0;
            overflow: hidden;
            transition: all 0.5 ease;
        }

        .home_main_ article:hover h4 {
            height: 20px;
        }
    }
   